{% extends "_layouts/base.j2" %}
{% block content %}
<section class="section">
    <div id="models-list">
        <table>
        {% for model in models %}
        <tr>
            <td>{{ model.name }} </td>
            <td>{{ model.id}} </td>
        
        </tr>
        {% endfor %}
        </table>
    </div>
</section>
{% endblock %}