<!DOCTYPE html>
<html lang="en">

{% with title=title %}
{% include "_layouts/head.j2" %}
{% endwith %}

<body>

  <main class="container">
    {% include "_layouts/_nav.j2" %}
    {% include "_layouts/crumb.j2" %}
    <div class="content" style="padding-top: 1.0em;">
      {% block content %}
      <h1>{{ message }}</h1>
      <section class="section">
        <div class="container">
          <h1 class="title is-1">Welcome to the Vendor Management System</h1>
          <p class="subtitle">Manage your vendors efficiently</p>
        </div>
      </section>
      {% endblock %}
    </div>
  </main>

</body>
</html>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>

