{% extends "_layouts/base.j2" %}

{% block content %}

  <h1>{{ message }}</h1>
  <section class="section">
    <div class="container">
      <h1 class="title is-1">Tenant Management System ip = {{ ip }}</h1>
      <p class="subtitle">Manage your vendors efficiently</p>
    </div>
  </section>

{% endblock %}